/* 全体の基本スタイル */
body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;

    background-image: url('Kakegawanishi.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header {
    width: 100%;
    height: 50px;
    margin: 0 auto 44px;
    background-color: #000000;
}

header nav {
    display: flex;
    justify-content: center; 
   
}

header nav div {
   color: #ffffff;
   margin: 10px 20px; 
   align-items: center;
}

/* コンテナ */
.container,
.show-reservationNumber{
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.50);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

/* ヘッダー */
h1, h2 {
    color: #000000;
}

/* フォームのスタイル */
form {
    margin-bottom: 20px;
    backdrop-filter: blur(1px);
}

.reservation-Form-title{
    font-size: 30px;
}

.input-box {
    display: flex;
	width: 80%;
    align-items: center;
    margin-bottom: 20px;
    margin: 30px auto;
    padding: 10px;
    border: 2px solid #a58cebf3;
    border-radius: 8px;
}

.input-box input[type="text"],
.input-box input[type="password"] {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 10px;
}
.reservation-button {
	width: 60%;
	margin-top: 24px;
	padding: 10px 0;
	border:none;
	border-radius:99px;
	font-weight:bold;
	font-size:15px;
	cursor:pointer;
	outline: transparent 3px solid;
	transition:0.1s;
}
.reservation-button:focus {
	outline: #9d60ee8a 3px solid;
}

.reservation-button:hover {
    color: rgb(191, 152, 255);
}

.show-reservationNumber > #reservation-number-display {
    font-size: 100px;
}
.show-reservationNumber > #reservation-number-error {
    font-size: 20px;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

#sidebar {
    position: absolute;
    top: 0px;
    left: -200px;
    width: 200px;
    height: 100%;
    background: #ffffff;
    transition: all 300ms linear;
}
#sidebar.active {
    left: 0px;
}
#sidebar .toggle-btn {
    position: absolute;
    left: 220px;
    top: 10px;
}
#sidebar .toggle-btn span {
    display: block;
    width: 30px;
    height: 5px;
    background: #ffffff;
    margin: 5px 0px;
    cursor: pointer;
}
#sidebar div.list .item {
    padding: 15px 10px;
    border-bottom:1px  solid #444;
    color: #000000;
    text-transform: uppercase;
    font-size: 15px;
    display: block;
}
