/* 全体の基本スタイル */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
}

/* コンテナ */
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

/* ヘッダー */
h1, h2 {
    color: #333;
}

/* フォームのスタイル */
form {
    margin-bottom: 20px;
}

.input-box {
    display: flex;
	width: 80%;
    align-items: center;
    margin-bottom: 20px;
    margin:10px auto;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
}

.input-box input[type="text"],
.input-box input[type="password"] {
    width: 50%;
    padding: 5px;
    border: none;
    outline: none;
    font-size: 16px;
}

button[type="submit"],
.login-button {
	width: 60%;
	margin-top: 24px;
	padding: 10px 0;
	border:none;
	border-radius:99px;
	font-weight:bold;
	font-size:15px;
	cursor:pointer;
	outline: transparent 3px solid;
	transition:0.1s;
}
.login-button:focus {
	outline: #32CDD58A 3px solid;
}
